.footer {
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #f5f5f5;
    text-align: center;
    margin-top:50px;
}
/*body > .container {*/
    /*padding: 60px 15px 0;*/
/*}*/
.container .footer-link {
    margin: 10px 0;
}

.rank {
    margin:20px;
}

.fixing-base .fixing-box.fixed {
    position: fixed;
    top: 0;
    z-index: 9999;
}

.last_login {
    color: #A4A4A4;
}

.num_break {
    font-weight: bold;
    font-size: 16px;
}

.top70 {
    top: 70px;
}